/*.selector-for-some-widget {
  box-sizing: content-box;
}*/

.linerzia:hover{
	background-color:  #EEE;
}
	
#lista1.dropdown-menu{
	min-width: 200px;
}

#logonav{
	width: 120px;
}

.subm{
	margin-top: 62px;
}
	
.divimgtop{
	width: 100%;
	background-color: #fff;
	border-radius: 0px;
	margin-top: 30px;
}

.imgtop{
	display:block;
	margin:auto;
	max-height: 500px;
	max-width: 768px;
	border-radius: 0px;
}

.titulolanding{
	margin: 20px;
	background-color: #444444;
	opacity: 0.8;
	color: white;
	text-align: center;
	border-radius: 30px;
}

@media (max-width: 500px){
	.atitulolanding{
		font-size: 5vw;

	}

	.btitulolanding{
		font-size: 3.5vw;
	}
}

@media all and (min-width: 1000px){
	.dtitulolanding{
		max-width: 40%;
	}
}

@media not all and (min-width: 1000px){
	.dtitulolanding{
		max-width: 75%;
	}
}

.landcontent{
	width: 80%;
	margin: auto;
}

.alert{
	width: 80%;
}