/*.selector-for-some-widget {
  box-sizing: content-box;
}*/



#lista1.dropdown-menu{
	min-width: 200px;
}

#c11{

}

#logonav{
	width: 120px;
}
	
/*.landingcontainer{
	position: relative;
    display: inline-block;
    text-align: center;
}
*/
.divimgtop{
	width: 100%;
	background-color: #24A;
	border-radius: 0px;

}

.imgtop{
	display:block;
	margin:auto;
	max-height: 500px;
	max-width: 768px;
	border-radius: 0px;
}

.titulolanding{
	margin: 20px;
	background-color: #444444;
	opacity: 0.8;
	color: white;
	text-align: center;
	border-radius: 30px;
}

.landcontent{
	width: 80%;
	margin: auto;
}